/* Réinitialisation des marges et padding par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Appliquer un style global au corps de la page */
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #08090D;
    scroll-behavior: smooth;
}

/* Style pour le logo fixe */
.logo {
    position: fixed;
    top: 20px;  /* Distance du haut de la page */
    left: 20px;  /* Distance du bord droit de la page */
    z-index: 1000;  /* Pour être sûr que le logo est au-dessus du contenu */
}

.logo img {
    width: 120px;  /* Ajuster la taille du logo */
    height: auto;  /* Garde les proportions correctes */
}

/* Conteneur général */
.container {
    display: flex;
    flex-direction: column;
}

/* Chaque section occupe toute la hauteur de la fenêtre */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/* Couleurs de chaque section */
.one {
    border: 10px solid white;
}

.two {
    border: 10px solid blue;
}

.three {
    border: 10px solid violet;
}

/* Style du texte dans chaque section */
section h1 {
    margin: 0;
}
/* 
couleurs: gros texte #0BF40A
          moyen texte #F5F1ED
          pett texte #70798C */