* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;

}

body{
    border: 10px solid purple;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container{

} */

.one{
    background-color: aquamarine;
}

.two{
    background-color: antiquewhite;
}

.three{
    background-color: brown;
}
/* body {
    background-color: #121212;
  } */

/* p {
    font-family: "Copperplate", fantasy;
    font-size: 5em;
    /* color:#fff2f2; */

/* @font-face {
    font-family: 'Digital-7';
    src: url('/fonts/digital-7.ttf') format('truetype');
} */

#loadingmsg {
    font-family: 'Digital-7', sans-serif; /* Ajout de 'sans-serif' comme police de secours */
    color: #0bf40a;
}

.centered {
    display: flex;
    justify-content: center;
    text-align: center;
}

#preloader{
    background: #000000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}


